.header{
    display: flex;
    background-color: transparent;
    position: fixed;
    width: 100vw;
    top:0;
    margin: 15px;
    margin-top: 15px;
    z-index: 100;
}

.header_logo{
    height: 24px;
    width: 100px;
    margin-top: 7px;
    cursor: pointer;
}

.header_center{
    flex: 1;
    display: flex;
    justify-content: center;
}
.header_center p{
    margin: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.header_center p:hover{
    transform: scale(1.05);
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s all ease;
}

.header_right{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    padding-right: 3%;
}
.header_right p{
   margin: 10px;
   cursor: pointer;
   
}