@font-face{
    font-family: 'iCielMedium';
    src: local('iCielMedium'), url('./assets/fonts/iCiel-Medium.ttf') format('truetype');
   
  
}

*{
    margin:0px;
    padding:0px;

}

body{
    font-family: 'iCielMedium', sans-serif;
}

.app_itemsContainer{
    scroll-snap-type: y mandatory;
    overflow: auto;
    height: 100vh;
}